/*  your css code here. If applicable */
p{
	width:100%;
}

#yellow {
	background-color:yellow;
	border: 1px solid green;
}

#red {
	background-color:red;
	border: 1px solid #000;
}

#green {
	background-color:green;
	border: 1px solid yellow;
}